.masthead {
  background-image: url("../img/Movie Thumnails.svg"),
    radial-gradient(#fff, #030b19);
  background-size: cover;
  background-position: initial;
  backdrop-filter: contrast(180deg);
  min-height: 100vh;
}

.form-div {
  width: 450px;
  height: 450px;
}

.form {
  width: 350px;
}

.btn:hover {
  background-color: #1151b1;
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    align-items: center;
  }

  .form {
    width: 300px;
  }

  .form-div {
    margin-right: 0% !important;
  }
}
